<ion-header>
  <ion-toolbar>
    <ion-title>forms</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-item>
    <ion-label>Nombre Producto:</ion-label>
    <ion-input type="text" placeholder="Nombre del Producto"  [(ngModel)]="txtNomProducto"></ion-input>
  </ion-item>

  <ion-item>
      <ion-label>Contraseña:</ion-label>
      <ion-input type="text" placeholder="Precio del Producto"  [(ngModel)]="txtPrecioProducto"></ion-input>
  </ion-item>

  <ion-item>
      <ion-label>E-Mail:</ion-label>
      <ion-input type="text" placeholder="Stock del Producto"  [(ngModel)]="txtStock"></ion-input>
  </ion-item>

  <ion-button  expand="full" (click)="muestraAlerta()">Enviar</ion-button> 
 




</ion-content>