<ion-header>
  <ion-toolbar>
    <ion-title>sna</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>      
      <ion-card-title>Gobierno de Chile</ion-card-title>
      <ion-card-subtitle>Servicio Nacional de Aduanas</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Resguardar los intereses de la Nación y apoyar el Comercio Exterior del país, mediante el uso eficiente e integrado de la fiscalización y facilitación de las operaciones de Comercio Internacional, basándose en el principio de la buena fe, en un clima de confianza y actuando conforme a los principios de probidad y transparencia.
      <ion-img [src]="image"></ion-img>
    </ion-card-content>
  </ion-card>

</ion-content>
